@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    @import "./adduser.css";
    @import "./app.css";
    @import "./biaya.css";
    @import "./bukuBank.css";
    @import "./cash-flow.css";
    @import "./evi.css";
    @import "./find.css";
    @import "./homeDatabase.css";
    @import "./input-data.css";
    @import "./invoice.css";
    @import "./login.css";
    @import "./mutasi.css";
    @import "./piutang.css";
    @import "./pln.css";
    @import "./plnPiutang.css";
    @import "./rekapan.css";
    @import "./tutup-kas.css";
}