body{
    font-family:Poppins,sans-serif;
    background:linear-gradient(90deg,#0f4d4d,#b8d3d6);
    margin:0;
}

/* WRAPPER */
.cash-flow-wrapper{
    min-height:100vh;
    display:flex;
    justify-content:center;
    padding:100px 20px;
}

.cash-flow-card{
    width:100%;
    max-width:1250px;
    background:#fff;
    border-radius:26px;
    padding:32px;
    box-shadow:0 20px 45px rgba(0,0,0,.25);
}

/* TITLE */
.page-title{
    text-align:center;
    font-weight:800;
    color:#0f4d4d;
    margin-bottom:25px;
}

/* FILTER */
.search-form{
    display:flex;
    align-items:center;
    gap:15px;
    background:#dff2ff;
    padding:12px 18px;
    border-radius:16px;
    margin-bottom:30px;
}

.search-form input{
    border:none;
    border-radius:10px;
    padding:8px 14px;
}

.search-form button{
    margin-left:auto;
    background:#22c55e;
    color:#fff;
    border:none;
    border-radius:20px;
    padding:8px 28px;
    font-weight:800;
}

/* GRID */
.cashflow-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:22px;
}

/* CARD BASE */
.card{
    background:#dff2f3;
    border-radius:18px;
    padding:16px 18px;
}

/* SAMAKAN TINGGI CARD KOLOM KIRI */
.card.penjualan,
.card.transfer,
.card.setoran{
    min-height: 340px;
    display:flex;
    flex-direction:column;
}


.card h3{
    font-size:14px;
    font-weight:800;
    border-bottom:2px solid #0f4d4d;
    padding-bottom:4px;
    margin-bottom:12px;
    color:#0f4d4d;
}

.card label{
    font-size:12px;
    font-weight:600;
    display:block;
    margin-top:6px;
}

.card input{
    width:100%;
    padding:7px 8px;
    border-radius:8px;
    border:none;
    margin-top:4px;
}

/* VARIAN WARNA */
.saldo-airlines{ background:#d6eef4; }
.topup-airlines{ background:#9ebdcc; }

/* PLN CARD */
.pln{
    background:#d6f2ff;
}

/* SISA SALDO DI DALAM PLN */
.sisa-saldo-box{
    margin-top:14px;
    padding:10px;
    border-radius:14px;
    background:#c7baff;
}

.sisa-saldo-box label{
    color:#1f1f1f;
    font-weight:800;
}

/* CASH CARD */
.cash{
    background:#c7baff;
}

/* BUTTON */
.button-container{
    display:flex;
    justify-content:flex-end;
    gap:14px;
    margin-top:28px;
}

.btn{
    padding:9px 28px;
    border-radius:22px;
    border:none;
    font-weight:800;
    color:#fff;
}

.btn.red{ background:#ef4444; }
.btn.green{ background:#22c55e; }

/* RESPONSIVE */
@media(max-width:1000px){
    .cashflow-grid{
        grid-template-columns:1fr;
    }
}
